<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Nossos principais serviços.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento de aplicativos para Android</h4>
                    <p class="text-muted">Projetamos, desenvolvemos e entregamos aplicativos Android inovadores para dispositivos Androd, com suporte eficaz com interface do usuário de última geração e funcionalidade rica em recursos..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento de aplicativos para iOS</h4>
                    <p class="text-muted">Você deve desenvolver um aplicativo exclusivo, pois ajudará sua empresa a se destacar em um mercado global que está ficando cada vez mais lotado a cada dia. Feito da maneira certa, um aplicativo para iPhone permite que você extraia de seus clientes para saber o que eles querem da sua empresa em termos de produtos ou serviços.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoria para sistemas corportivos</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>